/* normalize css starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
picture {
  display: contents;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* normalize css ends here */

body {
  font-family: sans-serif;
}

.title {
  &__inner {
    background-color: transparent;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}